* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
  font-family: sans-serif;
}
h1{

  margin : 1em
}
#navbarNav{
  justify-content: center;
}
.nav-item{

  margin: 0 1rem;
}
.container_image{
  display: block;
  text-align: center;
}
