<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title}) %> 
<body>
	<%- include('./partials/header') %> 
	<h1 style="color: tomato; text-align: center;">Acceso Restringido</h1>
	<div style="display: block; text-align: center;">
	<img src="/images/personalAutorizado.jpg" width="40%">
    </div>
	
</body>
</html>