<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title}) %> 
<body>
	<%- include('./partials/header') %> 
	<h1 style="color: tomato;">Acceso Restringido</h1>
	<img src="/images/personalAutorizado.jpg" width="40%">
	
</body>
</html>