<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </nav>
</header>